<h2>Welcome to Candy shop</h2>
<button class="btn btn-primary" onClick="something()">Click me!</button>

<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>